@import "tailwindcss";

@theme {
  --default-font-family: "Quicksand", sans-serif;
}

@utility animate-char-in {
  animation: char-in 0.3s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}
@keyframes char-in {
  0% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
